     h1{
            background-color: blue;
            color: white;
            font-size: 25px;
            padding: 2px;
            text-align: center;
          
        }
      
        div{
            width: 100%;
            height: fit-content;
            border: 1px solid black;
            text-align: center;
        }
        table{
            border: 1px solid black;
            width: 100%;
            height: fit-content;
            text-align: center;
        }
        tr{
            border: 1px solid black;
        }
        th{
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
        
        img{
           height: 50%;
           width: 50%;
           border-radius: 12px;
           box-shadow: gray; 
           margin: 0 auto;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
        }
        